/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply custom scrollbar styles to all scrollbars */
*::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set the color of the scrollbar thumb on hover */
}

body {
    background: url('images/backgrounds/bg3.jpg'), url('images/backgrounds/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #c98f8f;
    line-height: 1.6;
}

.bg-mask {
    background-color: #499399c2;
    margin-top: -15px;
    height: 115vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2vw;
}

.header {
    background-color: #4d4c4c;
    color: white;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-logo {
    width: 150px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation {
    display: flex;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 0;
}

.account-info {
    display: flex;
    align-items: center;
}

.account-info a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 0;
}

.contents {
    display: flex;
    margin-top: 7.8vh;
    padding: 2rem 0;
    text-align: center;
    justify-content: center;
    background-color: #499399c2;
    min-height: 85vh;
    align-items: flex-start;
}

.table-wrapper {
    width: 80vw;
}

.table-wrapper .outer-table thead {
    position: sticky;
    z-index: 2;
    top: 4.8rem; /* Stick the header row to the top of the viewport */
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
    padding: 10px;
    text-align: center;
}

.table-wrapper th {
    background-color: #333;
    color: white;
    text-align: center;
}

.table-wrapper tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-wrapper tr:nth-child(odd) {
    background-color: #ffffff;
}

.table-wrapper tr:hover {
    background-color: #ddd;
}

.itemslist-table {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}

.itemslist-table .inner-table thead {
    position: sticky;
    z-index: 1;
    border-top: 0;
    top: 0; /* Stick the header row to the top of the viewport */
}

.itemslist-table .inner-table table {
    border: 10px solid #333;
    border-top: 0;
    width: 101%;
}

.itemslist-table .inner-table th,
.itemslist-table .inner-table td {
    padding: 1px;
    text-align: center;
}

.itemslist-table .inner-table th {
    background-color: #333;
}

th, td {
    border: 1px solid black; /* Set border for cells */
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 0;
}

.number-input input[type="text"] {
    text-align: center;
    font-size: inherit;
    width: 4rem;
}

.number-input button {
    margin: auto;
    background-color: #007bff;
    cursor: pointer;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.easter-egg {
    display: flex;
    width: 20px;
}
