* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('images/backgrounds/bg3.jpg'), url('images/backgrounds/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #c98f8f;
    line-height: 1.6;
}

.bg-mask {
    background-color: #499399c2;
    margin-top: -15px;
    height: 115vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2vw;
}

.header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-logo {
    width: 150px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation {
    display: flex;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 0;
}

.account-info {
    display: flex;
    align-items: center;
}

.account-info a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 0;
}

.contents {
    display: flex;
    margin-top: 7.8vh;
    padding: 2rem 0;
    text-align: center;
    justify-content: flex-start;
    background-color: #6a92b8c2;
    min-height: 85vh;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 80vw;
    font-size: xx-large;
    font-weight: 900;
    justify-content: space-between;
    align-items: center;
}

.title a {
    color: black !important;
}


.contents .form-box {
    border: 5px solid #333;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 80vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contents .qr-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5rem;
}

.contents .qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents .qr {
    width: 250px;
}

.contents .payment-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}

.payment-info label {

    display: flex;
    flex-direction: column;
}

.payment-info input[type="text"] {
    height: 35px; /* Change the height to 35px */
    padding: 8px; /* Change the padding to 8px */
    border: 2px solid #999; /* Change the border to 2px solid with a different color */
    border-radius: 10px; /* Change the border radius to 10px */
    font-size: 16px; /* Change the font size to 14px */
}

.invisible {
    visibility: hidden;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 8rem;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 0;
}

.number-input input[type="text"] {
    text-align: center;
    font-size: inherit;
    width: 4rem;
}

.number-input button {
    margin: auto;
    background-color: #007bff;
    cursor: pointer;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.easter-egg {
    display: flex;
    width: 20px;
}