* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('images/backgrounds/bg3.jpg'), url('images/backgrounds/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #c98f8f;
    line-height: 1.6;
}

.bg-mask {
    background-color: #499399c2;
    margin-top: -15px;
    height: 115vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2vw;
}

.header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-logo {
    width: 150px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation {
    display: flex;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 0;
}

.account-info {
    display: flex;
    align-items: center;
}

.account-info a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 0;
}

.contents {
    display: flex;
    margin-top: 7.8vh;
    padding: 2rem 0;
    text-align: center;
    justify-content: space-around;
    background-color: #499399c2;
    min-height: 85vh;
}


.contents .form-box {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
}

.contents .qr-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5rem;
}

.contents .qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents .qr {
    width: 250px;
}

.contents .payment-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}

.payment-info label {

    display: flex;
    flex-direction: column;
}

.payment-info input[type="text"] {
    height: 35px; /* Change the height to 35px */
    padding: 8px; /* Change the padding to 8px */
    border: 2px solid #999; /* Change the border to 2px solid with a different color */
    border-radius: 10px; /* Change the border radius to 10px */
    font-size: 16px; /* Change the font size to 14px */
}

.product-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 350px;
}

.product {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 250px;
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cart-box {
    background-color: white;
    border-radius: 50px 0 0 50px;
    padding: 25px;
    margin: 1rem;
    position: fixed;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 300px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-height: 600px;
    overflow-y: auto;
}

.cart-box li {
    text-align: left;
    margin-left: 60px;
}

.table-wrapper {
    display: flex;
    flex: 1;
    border-radius: 25px;
    overflow: hidden; /* Ensure overflow is hidden to round the corners properly */
    margin: 0.5rem 2rem;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper th,
.table-wrapper td {
    padding: 10px;
    text-align: center;
}

.table-wrapper th {
    background-color: #333;
    color: white;
    text-align: center;
}

.table-wrapper tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-wrapper tr:nth-child(odd) {
    background-color: #ffffff;
}

.table-wrapper tr:hover {
    background-color: #ddd;
}


.product img {
    width: 200px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 0;
}